@using WebMusic.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/MainLayout_CSS/style-layout.css" rel="stylesheet" />
    <link href="~/Content/MainLayout_CSS/style-cart.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand header-logo" href="#">
                                <img src="~/IMG/Logo/logo.png" />
                            </a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-left">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">Store</a></li>
                                <li><a href="#contact">Listen</a></li>
                                <li><a href="#contact">Shows</a></li>
                                <li><a href="#contact">Video</a></li>
                                <li><a href="#contact">News</a></li>
                            </ul>
                            <ul class="nav navbar-nav login pull-right">
                                <li><a href="#" id="login-button">Login</a></li>
                                <li><a href="#" id="register-button">Register</a></li>
                                <li><a href="#" id="userName_Menu"></a></li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @Html.Action("Login", "User")

    @Html.Action("Register", "User")

    <div class="extra"></div>

    <div id="noti-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div id="notiForm">vuhoangha</div>
                    <button id="closeNotiForm">OK</button>
                    <div id="clickChangeMusicHide" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="userControl">
                    <div class="pull-left">
                        <ul class="nav navbar-nav">
                            <li><a href="#" id="genres-button">GENRES <i class="glyphicon glyphicon-menu-down"></i></a></li>
                            <li><a href="#">TRACKS</a></li>
                            <li><a href="#">RELEASES</a></li>
                            <li><a href="#">CHARTS</a></li>
                            <li><a href="#">STEMS</a></li>
                            <li><a href="#">SOUNDS</a></li>
                            <li>
                                <form class="form-search">
                                    <input type="text" placeholder="Search">
                                    <button type="button"><i class="glyphicon glyphicon-search"></i></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <button id="logoCartMenu">
                            <i class="glyphicon glyphicon-shopping-cart" id="cartMenu" style="display: none;"></i>
                            <span id="total_Debt_Menu"></span>
                        </button>
                        <span id="saleUser_Menu"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="genres-wrap">
        <div class="container">
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <div id="genres-detail">
                        <ul>
                            <li><a href="#">Trap</a></li>
                            <li><a href="#">Progessive House</a></li>
                            <li><a href="#">Trance</a></li>
                            <li><a href="#">Deep House</a></li>
                            <li><a href="#">Future House</a></li>
                            <li><a href="#">Tropical House</a></li>
                            <li><a href="#">Techno House</a></li>
                            <li><a href="#">Drum Bass</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Hardstyle</a></li>
                            <li><a href="#">Harddance</a></li>
                            <li><a href="#">Hardcore</a></li>
                            <li><a href="#">NightCore</a></li>
                            <li><a href="#">NightStep</a></li>
                            <li><a href="#">FutureBass</a></li>
                            <li><a href="#">ChillStep</a></li>
                            <li><a href="#">Melodic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content" id="MainContent">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="content-child-wrap">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div class="content1" style="display: none;" id="content1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 id="detail-username">vu hoang ha</h1>
                    <br />
                    <div class="row">
                        <div class="col-sm-4 header">Name</div>
                        <div class="col-sm-3 header">Artist</div>
                        <div class="col-sm-2 header">Label</div>
                        <div class="col-sm-1 header">Cost</div>
                        <div class="col-sm-1 header">Sale</div>
                        <div class="col-sm-1 header">Delete</div>
                    </div>
                    <div id="content1-cartDetail">
                    </div>
                    <div class="row">
                        <div class="col-sm-1 col-sm-offset-10" id="TotalMoney"></div>
                        <div class="col-sm-1" id="Buy-now" style="cursor: pointer;">
                            Buy Now
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" id="content-wrap" style="display: none;">
                    <div class="col-sm-6 col-sm-offset-4" id="CommitBuy">
                        <input type="text" placeholder="Email" class="form-element" id="cart-pay-email" />
                        <input type="password" placeholder="Password" class="form-element" id="cart-pay-password" />
                        <input type="text" placeholder="Cart Number" class="form-element" id="cart-pay-series" />
                        <input type="password" placeholder="Cart Password" class="form-element" id="cart-pay-pass" />
                        <div class="login-form-button-group">
                            <button id="button-cart-pay" class="button-me">Pay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footerPage">
        <div class="container">
            <div class="row">
                <div class="footer-top">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="hot-event">
                                <img src="~/IMG/Footer/kygo.jpg" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="magazine">
                                <p class="magazine-title">
                                    Magazine
                                </p>
                                <a href="#" class="magazine-link">Customer Service</a>
                                <a href="#" class="magazine-link">Subscribe</a>
                                <a href="#" class="magazine-link">Buy this issue</a>
                                <p class="magazine-title">
                                    Beatport Biz
                                </p>
                                <p class="footer-info">
                                    The online extension of Beatport Magazine, beatport.biz is the essential online destination for the music business.
                                </p>
                                <a href="#" class="magazine-link">Learn More</a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="sharing">
                                <p class="sharing-title">Sharing Beatport</p>
                                <a href="#">
                                    <i class="fa fa-facebook-square"></i>
                                    <span>Fabebook</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                    <span>Google+</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-square"></i>
                                    <span>Youtube</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="explore-beatport">
                                <p class="explore-beatport-title">Explore Beatport</p>
                                <a href="#">Shop</a>
                                <a href="#">News Archive</a>
                                <a href="#">Photos Archive</a>
                                <a href="#">Videos Archive</a>
                                <a href="#">Magazine Archive</a>
                                <a href="#">Charts Archive</a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="info-beatport">
                                <p class="info-beatport-title">Information</p>
                                <a href="#">Mobile</a>
                                <a href="#">Chart Licensing</a>
                                <a href="#">Billboard Events</a>
                                <a href="#">Contact Us</a>
                                <a href="#">Sitemap</a>
                                <a href="#">FAQ</a>
                                <a href="#">Feedback</a>
                                <a href="#">Lyrics</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="col-sm-12">
                        <p>© 2016 Billboard. All Rights Reserved.</p>
                        <a href="#">Terms of Use</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">About Our Ads</a>
                        <a href="#">Advertising</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tag-playmusic" id="all-tagMusicBottom">
        <audio id="myTune" controls>
            <source src="~/music/10.mp3">
        </audio>

        <div class="playmusic-info" id="all-playmusic-change">
            <div class="imgPlayMusic">
                <img src="~/IMG/Track/Alesso/iwantseeyourwith.jpg" />
            </div>
            <div class="textPlayMusic">
                <a href="#" class="playmusic-name">Clarity</a>
                <a href="#" class="playmusic-artist">Hayley Williams ft Zedd</a>
            </div>
        </div>
        <div class="playmusic-time">
            <label id="playmusic-start"></label>
            <progress id="playmusic-process" value="0" max="100"></progress>
            <label id="playmusic-end"></label>
        </div>
        <div class="playmusic-button">
            <button id="playmusic-prev">
                <i class="glyphicon glyphicon-backward"></i>
            </button>
            <button id="playButton">
                <i class="glyphicon glyphicon-play"></i>
                <i class="glyphicon glyphicon-pause"></i>
            </button>
            <button id="playmusic-next">
                <i class="glyphicon glyphicon-forward"></i>
            </button>
            <button id="loopButton">
                <i class="glyphicon glyphicon-repeat"></i>
            </button>
            <div id="volume">
                <button id="volumeButton">
                    <i class="glyphicon glyphicon-volume-down"></i>
                    <i class="glyphicon glyphicon-volume-up"></i>
                    <i class="glyphicon glyphicon-volume-off"></i>
                </button>
                <progress id="volumeProBar" value="100" max="100" ></progress>
            </div>
        </div>
    </div>


<script type="text/javascript">

        $(document).ready(function () {

            var playmusic = 0;
            var audio = document.getElementById('myTune');
            var volumeLenPer = $("#volumeProBar").width() / 100;
            var all_valueProgressVolumn = $("#volumeProBar").width();
            var all_valueAudioVolumn = 1.0;
            var loopAudioCurrent = false;

            function convertTime(timeSecond) {
                var hour = 0;
                var minutes = 0;
                var second = 0;
                var stringTime = "";
                hour = Math.floor(timeSecond / 3600);
                timeSecond = timeSecond - hour * 3600;
                minutes = Math.floor(timeSecond / 60);
                timeSecond = timeSecond - minutes * 60;
                second = Math.floor(timeSecond);
                var correctSecond = "";
                if (second < 10) {
                    correctSecond = "0" + second;
                } else {
                    correctSecond = second;
                }
                if (hour === 0) {
                    stringTime = minutes + ":" + correctSecond;
                } else {
                    stringTime = hour + ":" + minutes + ":" + correctSecond;
                }
                return stringTime;
            }

            audio.addEventListener('loadedmetadata', function audioLoad() {
                var lengaudio = parseInt(audio.duration);
                var lengaudioText = convertTime(lengaudio);
                document.getElementById("playmusic-end").innerHTML = lengaudioText;
                document.getElementById("playmusic-start").innerHTML = "0:00";
            });

            //event end audio
            audio.onended = function endedAudio() {
                if (audio.loop === false) {
                    pauseMusic();
                }
            };

            //function play music
            function playMusic() {
                audio.play();
                playmusic = 1;
                $("#playButton .glyphicon-play").hide();
                $("#playButton .glyphicon-pause").show();
            }

            //function pause music
            function pauseMusic() {
                audio.pause();
                playmusic = 0;
                $("#playButton .glyphicon-pause").hide();
                $("#playButton .glyphicon-play").show();
            }

            //event click loop
            $("#loopButton").click(function loopAudio() {
                if (audio.loop === false) {
                    loopAudioCurrent = true;
                    audio.loop = true;
                    $("#loopButton").css("color", "#fff");
                } else {
                    audio.loop = false;
                    loopAudioCurrent = false;
                    $("#loopButton").css("color", "#888");
                }

            });

            var intervalPlayMusic;
            //event click playmusic
            $("#playButton").click(function playTagAudio() {
                if (playmusic === 0) {
                    playMusic();
                    intervalPlayMusic = setInterval(function () {
                        if (document.getElementById("playmusic-start")) {
                            document.getElementById("playmusic-start").innerHTML = convertTime(parseInt(audio.currentTime));
                        }
                        var currentValuePlayMusic = (audio.currentTime / audio.duration) * 100;
                        if (document.getElementById("playmusic-process")) {
                            document.getElementById("playmusic-process").value = currentValuePlayMusic;
                        }
                    }, 100);
                } else {
                    pauseMusic();
                    clearInterval(intervalPlayMusic);
                }
            });

            //event click fast forward music
            var playmusicLenPer;
            $("#playmusic-process").click(function TuaTagAudio(ev) {
                playmusicLenPer = $("#playmusic-process").width() / 100;
                var lenCurrentPlayMusic = ev.clientX - $("#playmusic-process").offset().left;
                var playmusicCurrentPer = lenCurrentPlayMusic / playmusicLenPer;

                document.getElementById("playmusic-process").value = playmusicCurrentPer;
                document.getElementById("myTune").currentTime = (playmusicCurrentPer / 100) * audio.duration;
                document.getElementById("playmusic-start").innerHTML = convertTime(audio.currentTime);
            });

            //volume in progress
            $("#volumeProBar").click(function editVolumnAudio(evVolume) {
                var lenCurrentVolume = evVolume.clientX - $("#volumeProBar").offset().left;
                all_valueProgressVolumn = lenCurrentVolume / volumeLenPer;
                document.getElementById("volumeProBar").value = all_valueProgressVolumn;
                all_valueAudioVolumn = document.getElementById("volumeProBar").value / 100;
                document.getElementById("myTune").volume = all_valueAudioVolumn;
                if (audio.volume < 0.5) {
                    $("#volume .glyphicon-volume-down").show();
                    $("#volume .glyphicon-volume-up").hide();
                } else {
                    $("#volume .glyphicon-volume-down").hide();
                    $("#volume .glyphicon-volume-up").show();
                }
            });

            //volume in icon
            var oldVolume;
            var oldVolumeLength;
            $("#volumeButton").click(function editByIconVolumn() {
                if (audio.volume > 0) {
                    oldVolume = audio.volume;
                    oldVolumeLength = document.getElementById("volumeProBar").value;
                    document.getElementById("myTune").volume = 0;
                    document.getElementById("volumeProBar").value = 0;
                    $("#volume .glyphicon-volume-down").hide();
                    $("#volume .glyphicon-volume-up").hide();
                    $("#volume .glyphicon-volume-off").show();
                } else {
                    document.getElementById("myTune").volume = oldVolume;
                    document.getElementById("volumeProBar").value = oldVolumeLength;
                    $("#volume .glyphicon-volume-off").hide();
                    if (audio.volume < 0.5) {
                        $("#volume .glyphicon-volume-down").show();
                    } else {
                        $("#volume .glyphicon-volume-up").show();
                    }
                }

            });

            //select audio
            $("#clickChangeMusicHide").click(function () {
                //document.getElementById("myTune").addEventListener("loadedmetadata", audioLoad);
                //document.getElementById("myTune").addEventListener("ended", endedAudio);
                //document.getElementById("loopButton").addEventListener("click", loopAudio);
                //document.getElementById("playButton").addEventListener("click", playTagAudio);
                //document.getElementById("playmusic-process").addEventListener("click", TuaTagAudio);
                //document.getElementById("volumeProBar").addEventListener("click", editVolumnAudio);
                //document.getElementById("volumeButton").addEventListener("click", editByIconVolumn);

                clearInterval(intervalPlayMusic);
                var playmusic1 = 0;
                var audio1 = document.getElementById('myTune');
                //get loop audio prev
                audio1.loop = loopAudioCurrent;
                if (loopAudioCurrent) {
                    $("#loopButton").css("color", "#fff");
                }
                //get volumn audio prev
                document.getElementById("volumeProBar").value = all_valueProgressVolumn;
                document.getElementById("myTune").volume = all_valueAudioVolumn;
                
                function convertTime1(timeSecond) {
                    var hour = 0;
                    var minutes = 0;
                    var second = 0;
                    var stringTime = "";
                    hour = Math.floor(timeSecond / 3600);
                    timeSecond = timeSecond - hour * 3600;
                    minutes = Math.floor(timeSecond / 60);
                    timeSecond = timeSecond - minutes * 60;
                    second = Math.floor(timeSecond);
                    var correctSecond = "";
                    if (second < 10) {
                        correctSecond = "0" + second;
                    } else {
                        correctSecond = second;
                    }
                    if (hour === 0) {
                        stringTime = minutes + ":" + correctSecond;
                    } else {
                        stringTime = hour + ":" + minutes + ":" + correctSecond;
                    }
                    return stringTime;
                }

                audio1.addEventListener('loadedmetadata', function audioLoad1() {
                    var lengaudio = parseInt(audio1.duration);
                    var lengaudioText = convertTime1(lengaudio);
                    document.getElementById("playmusic-end").innerHTML = lengaudioText;
                    document.getElementById("playmusic-start").innerHTML = "0:00";
                });

                //event end audio
                audio1.onended = function endedAudio1() {
                    if (audio1.loop === false) {
                        pauseMusic1();
                    }
                };

                //function play music
                function playMusic1() {
                    audio1.play();
                    playmusic1 = 1;
                    $("#playButton .glyphicon-play").hide();
                    $("#playButton .glyphicon-pause").show();
                }

                //function pause music
                function pauseMusic1() {
                    audio1.pause();
                    playmusic1 = 0;
                    $("#playButton .glyphicon-pause").hide();
                    $("#playButton .glyphicon-play").show();
                }

                //event click loop
                $("#loopButton").click(function loopAudio1() {
                    if (audio1.loop === false) {
                        loopAudioCurrent = true;
                        audio1.loop = true;
                        $("#loopButton").css("color", "#fff");
                    } else {
                        audio1.loop = false;
                        loopAudioCurrent = false;
                        $("#loopButton").css("color", "#888");
                    }

                });

                //event click playmusic
                $("#playButton").click(function playTagAudio1() {
                    if (playmusic1 === 0) {
                        playMusic1();
                        intervalPlayMusic = setInterval(function () {
                            if (document.getElementById("playmusic-start")) {
                                document.getElementById("playmusic-start").innerHTML = convertTime1(parseInt(audio1.currentTime));
                            }
                            var currentValuePlayMusic = (audio1.currentTime / audio1.duration) * 100;
                            if (document.getElementById("playmusic-process")) {
                                document.getElementById("playmusic-process").value = currentValuePlayMusic;
                            }
                        }, 100);
                    } else {
                        pauseMusic1();
                        clearInterval(intervalPlayMusic);
                    }
                });

                //event click fast forward music
                var playmusicLenPer1;
                $("#playmusic-process").click(function TuaTagAudio1(ev) {
                    playmusicLenPer1 = $("#playmusic-process").width() / 100;
                    var lenCurrentPlayMusic = ev.clientX - $("#playmusic-process").offset().left;
                    var playmusicCurrentPer = lenCurrentPlayMusic / playmusicLenPer1;

                    document.getElementById("playmusic-process").value = playmusicCurrentPer;
                    document.getElementById("myTune").currentTime = (playmusicCurrentPer / 100) * audio1.duration;
                    document.getElementById("playmusic-start").innerHTML = convertTime1(audio1.currentTime);
                });

                //volume in progress
                $("#volumeProBar").click(function editVolumnAudio1(evVolume) {
                    var lenCurrentVolume = evVolume.clientX - $("#volumeProBar").offset().left;
                    all_valueProgressVolumn = lenCurrentVolume / volumeLenPer;
                    document.getElementById("volumeProBar").value = all_valueProgressVolumn;
                    all_valueAudioVolumn = document.getElementById("volumeProBar").value / 100;
                    document.getElementById("myTune").volume = all_valueAudioVolumn;

                    if (audio1.volume < 0.5) {
                        $("#volume .glyphicon-volume-down").show();
                        $("#volume .glyphicon-volume-up").hide();
                    } else {
                        $("#volume .glyphicon-volume-down").hide();
                        $("#volume .glyphicon-volume-up").show();
                    }
                });

                //volume in icon
                var oldVolume1;
                var oldVolumeLength1;
                $("#volumeButton").click(function editByIconVolumn1() {
                    if (audio1.volume > 0) {
                        oldVolume1 = audio1.volume;
                        oldVolumeLength1 = document.getElementById("volumeProBar").value;
                        document.getElementById("myTune").volume = 0;
                        document.getElementById("volumeProBar").value = 0;
                        $("#volume .glyphicon-volume-down").hide();
                        $("#volume .glyphicon-volume-up").hide();
                        $("#volume .glyphicon-volume-off").show();
                    } else {
                        document.getElementById("myTune").volume = oldVolume1;
                        document.getElementById("volumeProBar").value = oldVolumeLength1;
                        $("#volume .glyphicon-volume-off").hide();
                        if (audio1.volume < 0.5) {
                            $("#volume .glyphicon-volume-down").show();
                        } else {
                            $("#volume .glyphicon-volume-up").show();
                        }
                    }

                });
            });







            $("#button-cart-pay").click(function () {
                $.ajax({
                    url: '@Url.Action("CartBuy","Cart")',
                    dataType: 'json',
                    type: 'POST',
                    data: JSON.stringify({
                        email: $("#cart-pay-email").val(),
                        password: $("#cart-pay-password").val(),
                        cardNumber: $("#cart-pay-series").val(),
                        passwordCard: $("#cart-pay-pass").val()
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data !== '') {
                            alert("success");
                            $("#total_Debt_Menu").text('$0');
                        } else {
                            alert("unsuccess");
                        }
                    }
                });
            });

            $("#logoCartMenu").click(function () {
                $.ajax({
                    url: '@Url.Action("CartDetail", "Cart")',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data !== null) {
                            document.getElementById("MainContent").innerHTML = '';
                            $("#content1").show();

                            document.getElementById("content1-cartDetail").innerHTML = '';
                            var stringData = '';
                            var totalMoney = 0;
                            $.each(data, function (i, item) {
                                totalMoney += parseFloat(item.cost.toString());

                                stringData = stringData + '<div class="row">';
                                stringData = stringData + '<div class="col-sm-4 cart-row cart-name">';
                                stringData = stringData + '<a href="#">' + item.name + '</a>';
                                stringData = stringData + '</div>';
                                stringData = stringData + '<div class="col-sm-3 cart-row cart-artist">';
                                $.each(item.artist, function (j, tempArtist) {
                                    stringData = stringData + '<a href ="#">' + tempArtist + '</a>';
                                });
                                stringData = stringData + '</div>';
                                stringData = stringData + '<div class="col-sm-2 cart-row cart-label">';
                                $.each(item.label, function (j, tempLabel) {
                                    {
                                        stringData = stringData + '<a href="#">' + tempLabel + '</a>';
                                    }
                                });
                                stringData = stringData + '</div>';
                                stringData = stringData + '<div class="col-sm-1 cart-row cart-cost">$' + item.cost + '</div>';
                                stringData = stringData + '<div class="col-sm-1 cart-row cart-sale">' + item.sale + '%</div>';
                                stringData = stringData + '<div class="col-sm-1 cart-row cart-delete">';
                                stringData = stringData + '<a href="#">Delete</a>';
                                stringData = stringData + '</div>';
                                stringData = stringData + '</div>';
                            });
                            document.getElementById("content1-cartDetail").innerHTML = stringData;
                            $("#TotalMoney").text('$' + totalMoney);

                        } else {
                            alert("unsuccess");
                        }
                    }
                });
            });

            $(".all-playmusic").click(function () {
                var audioDelete = document.getElementById("myTune");
                document.getElementById("myTune").innerHTML = '';
                delete audioDelete;
                document.getElementById("all-tagMusicBottom").innerHTML = '';
                var id = $(this).attr("sttID");
                var type = $(this).attr("sttType");

                $.ajax({
                    url: '@Url.Action("GetMusic", "PlayMusic")',
                    dataType: 'json',
                    type: 'POST',
                    data: JSON.stringify({
                        id: id,
                        type: type
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data !== '') {
                            var tempData = '';
                            tempData = tempData + '<audio id="myTune" controls>';
                            tempData = tempData + '<source src="' + data.link + '">';
                            tempData = tempData + '</audio>';
                            tempData = tempData + '<div class="playmusic-info" id="all-playmusic-change">';
                            tempData = tempData + '<div class="imgPlayMusic">';
                            tempData = tempData + '<img src="' + data.link_Img + '" />';
                            tempData = tempData + '</div>';
                            tempData = tempData + '<div class="textPlayMusic">';
                            tempData = tempData + '<a href="#" class="playmusic-name">' + data.name + '</a>';
                            $.each(data.artist, function (i, item) {
                                tempData = tempData + '<a href="#" class="playmusic-artist">' + item + '</a>';
                            });
                            tempData = tempData + '</div>';
                            tempData = tempData + '</div>';
                            tempData = tempData + '<div class="playmusic-time">';
                            tempData = tempData + '<label id="playmusic-start"></label>';
                            tempData = tempData + '<progress id="playmusic-process" value="0" max="100"></progress>';
                            tempData = tempData + '<label id="playmusic-end"></label>';
                            tempData = tempData + '</div>';
                            tempData = tempData + '<div class="playmusic-button">';
                            tempData = tempData + '<button id="playmusic-prev">';
                            tempData = tempData + '<i class="glyphicon glyphicon-backward"></i>';
                            tempData = tempData + '</button>';
                            tempData = tempData + '<button id="playButton">';
                            tempData = tempData + '<i class="glyphicon glyphicon-play"></i>';
                            tempData = tempData + '<i class="glyphicon glyphicon-pause"></i>';
                            tempData = tempData + '</button>';
                            tempData = tempData + '<button id="playmusic-next">';
                            tempData = tempData + '<i class="glyphicon glyphicon-forward"></i>';
                            tempData = tempData + '</button>';
                            tempData = tempData + '<button id="loopButton">';
                            tempData = tempData + '<i class="glyphicon glyphicon-repeat"></i>';
                            tempData = tempData + '</button>';
                            tempData = tempData + '<div id="volume">';
                            tempData = tempData + '<button id="volumeButton">';
                            tempData = tempData + '<i class="glyphicon glyphicon-volume-down"></i>';
                            tempData = tempData + '<i class="glyphicon glyphicon-volume-up"></i>';
                            tempData = tempData + '<i class="glyphicon glyphicon-volume-off"></i>';
                            tempData = tempData + '</button>';
                            tempData = tempData + '<progress id="volumeProBar" value="100" max="100"></progress>';
                            tempData = tempData + '</div>';
                            tempData = tempData + '</div>';

                            document.getElementById("all-tagMusicBottom").innerHTML = tempData;

                            document.getElementById("clickChangeMusicHide").click();
                            document.getElementById("playButton").click();
                        } else {
                            alert("unsuccess");
                        }

                    }
                });
            });


        });


    </script>


    <script src="~/Scripts/MainLayout_JS/main-layout.js"></script>


</body>



</html>
