
@using WebMusic.Models
@model List<List<string>>

@{
    int count = 0;
    char isTest = '1';
    int loop = 0;
    if (Model.Count > 0)
    {
        loop = Model.Count / 4;
        if (Model.Count % 4 != 0)
        {
            loop++;
        }
    }

    double widthButton = 100;
    if (loop > 1)
    {
        widthButton = loop * 0.5;
        widthButton -= 0.5;
        widthButton = 100 - widthButton;
        widthButton /= loop;
    }

    var rightWidth = widthButton + "%";

}


<style>
    .detail-artist-remix-slider-button{
        width: @rightWidth;
    }
</style>



<div class="detail-label-artist">
    <p class="detail-label-artist-title">Artist of this label</p>

    @for (int i = 0; i < loop; i++)
    {

        if (i != loop - 1)
        {
            <div stt="@i" class="detail-label-artist-info">
                <ul>
                    <li>
                        <div class="detail-label-artist-child">
                            <img src="@Url.Content(Model[count][2])" alt="">
                            <div class="detail-label-artist-child-control">
                                <span>Follow</span>
                                <a href="@Model[count][3]" class="detail-label-artist-child-fb">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="@Model[count][4]" class="detail-label-artist-child-tw">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="detail-label-artist-child-name">
                                <a href="@Url.Action("Index", "Artist", new {@nameArtist = Model[count][1]})">@Model[count][1]</a>
                            </div>
                        </div>
                    </li>
                    @{ count = count + 1; }

                    <li>
                        <div class="detail-label-artist-child">
                            <img src="@Url.Content(Model[count][2])" alt="">
                            <div class="detail-label-artist-child-control">
                                <span>Follow</span>
                                <a href="@Model[count][3]" class="detail-label-artist-child-fb">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="@Model[count][4]" class="detail-label-artist-child-tw">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="detail-label-artist-child-name">
                                <a href="@Url.Action("Index", "Artist", new {@nameArtist = Model[count][1]})">@Model[count][1]</a>
                            </div>
                        </div>
                    </li>
                    @{ count = count + 1; }


                    <li>
                        <div class="detail-label-artist-child">
                            <img src="@Url.Content(Model[count][2])" alt="">
                            <div class="detail-label-artist-child-control">
                                <span>Follow</span>
                                <a href="@Model[count][3]" class="detail-label-artist-child-fb">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="@Model[count][4]" class="detail-label-artist-child-tw">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="detail-label-artist-child-name">
                                <a href="@Url.Action("Index", "Artist", new {@nameArtist = Model[count][1]})">@Model[count][1]</a>
                            </div>
                        </div>
                    </li>
                    @{ count = count + 1; }

                    <li>
                        <div class="detail-label-artist-child">
                            <img src="@Url.Content(Model[count][2])" alt="">
                            <div class="detail-label-artist-child-control">
                                <span>Follow</span>
                                <a href="@Model[count][3]" class="detail-label-artist-child-fb">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="@Model[count][4]" class="detail-label-artist-child-tw">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="detail-label-artist-child-name">
                                <a href="@Url.Action("Index", "Artist", new {@nameArtist = Model[count][1]})">@Model[count][1]</a>
                            </div>
                        </div>
                    </li>
                    @{ count = count + 1; }


                </ul>
            </div>
                        }
                        else
                        {
                            <div stt="@i" class="detail-label-artist-info">
                                <ul>
                                    @while (1 == 1)
                                    {
                                        <li>
                                            <div class="detail-label-artist-child">
                                                <img src="@Url.Content(Model[count][2])" alt="">
                                                <div class="detail-label-artist-child-control">
                                                    <span>Follow</span>
                                                    <a href="@Model[count][3]" class="detail-label-artist-child-fb">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                    <a href="@Model[count][4]" class="detail-label-artist-child-tw">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </div>
                                                <div class="detail-label-artist-child-name">
                                                    <a href="@Url.Action("Index", "Artist", new {@nameArtist = Model[count][1]})">@Model[count][1]</a>
                                                </div>
                                            </div>
                                        </li>
                                                count = count + 1;
                                                if (count == Model.Count)
                                                {
                                                    isTest = '0';
                                                    break;
                                                }
                                            }
                                </ul>
                            </div>
                            }

                            if (isTest == '0')
                            {
                                break;
                            }

                        }



    <div class="detail-label-artist-pages">
        <ul>
            <li stt="0" class="detail-label-artist-pages-li detail-label-artist-pages-li-active"></li>
            <li stt="1" class="detail-label-artist-pages-li"></li>
            <li stt="2" class="detail-label-artist-pages-li"></li>
            <li stt="3" class="detail-label-artist-pages-li"></li>
        </ul>
    </div>
</div>
